body {
    font-family: Arial;
    background-color: aliceblue;
    padding: 40px 0;
}

h2 {
    font-size: 28px;

}

h1 {
    font-size: 36px;
}

h3 {
    margin-top: 5px;
}

span {
    color: grey;
}

header,
section {
    padding: 10px 60px 20px 60px;
    background-color: white;
    width: 960px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

header ul {
    list-style: none;
}

header li {
    margin-bottom: 15px;
}

.address-icon {
    width: 16px;
    height: 16px;
    background-color: cornflowerblue;
    margin-right: 10px;
    padding: 8px;
    border-radius: 16px;
}

.circle {
    border-radius: 50%;
}

.profile-picture {
    width: 180px;
    height: 180px;
}

.hobbies {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.hobbies li {
    width: 50%;
    display: flex;
    align-items: flex-start;
}

.hobbies div {
    margin-left: 15px;
}

.cv-download-link {
    border: 2px solid cornflowerblue;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 26px;
    transition: background-color 0.5s;
}

.cv-download-link:hover {
    color: white;
    background-color: cornflowerblue;
}

.cv-download-link:focus {
    outline: none;
    color: white;
    background-color: cornflowerblue;
}

.cv-download-link:active {
    text-decoration: underline;
}

address ul li {
    display: flex;
    align-items: center;
}